body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

.heading h1 {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  font-weight: bolder;
  font-size: 4rem;
  margin: 0;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text {
  margin-top: 0;
  background-color: #f3ec78;
  background: rgb(238, 174, 202);
  background: -moz-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.copyrightSection {
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}

.copyrightSection .footerSocials {
  margin-top: 2rem;
}

.copyrightSection .footerSocials a {
  padding: 0.5rem;
}

.copyrightSection .footerSocials img {
  width: 2rem;
  height: 2rem;
}
